@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,700;0,6..12,900;1,6..12,400;1,6..12,500;1,6..12,700;1,6..12,900&family=Rock+Salt&family=Silkscreen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Yanone+Kaffeesatz:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

/* =============== FONTS =============== */

@font-face {
  font-family: "Pricedown";
  src: url("/assets/fonts/Pdown/Pdown.otf") format("opentype");
}
@font-face {
  font-family: "Bespoke";
  src: url("/assets/fonts/Bespoke/Bespoke.eot");
  src: url("/assets/fonts/Bespoke/Bespoke.eot") format("embedded-opentype"),
    url("/assets/fonts/Bespoke/Bespoke.woff") format("woff"),
    url("/assets/fonts/Bespoke/Bespoke.ttf") format("truetype"),
    url("/assets/fonts/Bespoke/Bespoke.svg") format("svg");
}
@font-face {
  font-family: "Funtauna";
  src: url("/assets/fonts/Funtauna-Font/Funtauna.eot")
      format("embedded-opentype"),
    url("/assets/fonts/Funtauna-Font/Funtauna.woff") format("woff"),
    url("/assets/fonts/Funtauna-Font/Funtauna.ttf") format("truetype"),
    url("/assets/fonts/Funtauna-Font/Funtauna.svg") format("svg");
}
@font-face {
  font-family: "Dosis";
  src: url("/assets/fonts/Dosis-Font/Dosis-ExtraLight.ttf") format("truetype"),
    url("/assets/fonts/Dosis-Font/Dosis-Light.ttf") format("truetype"),
    url("/assets/fonts/Dosis-Font/Dosis-Medium.ttf") format("truetype"),
    url("/assets/fonts/Dosis-Font/Dosis-SemiBold.ttf") format("truetype"),
    url("/assets/fonts/Dosis-Font/Dosis-Bold.ttf") format("truetype"),
    url("/assets/fonts/Dosis-Font/Dosis-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Drexs";
  src: url("/assets/fonts/Drexs-Font/Drexs.otf") format("opentype"),
    url("/assets/fonts/Drexs-Font/Drexs.ttf") format("woff");
}
@font-face {
  font-family: "Fira Code";
  src: url("woff2/FiraCode-Light.woff2") format("woff2"),
    url("woff/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("woff2/FiraCode-Regular.woff2") format("woff2"),
    url("woff/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("woff2/FiraCode-Medium.woff2") format("woff2"),
    url("woff/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("woff2/FiraCode-SemiBold.woff2") format("woff2"),
    url("woff/FiraCode-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("woff2/FiraCode-Bold.woff2") format("woff2"),
    url("woff/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code VF";
  src: url("woff2/FiraCode-VF.woff2") format("woff2-variations"),
    url("woff/FiraCode-VF.woff") format("woff-variations");
  font-weight: 300 700;
  font-style: normal;
}
.fira-code {
  font-family: "Fira Code";
  font-size: 1rem;
  font-feature-settings: "calt" 1; /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
  white-space: pre-wrap;
  word-break: break-all;
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/Poppins-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/Poppins-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Queensides";
  src: url(/assets/fonts/queensides-font/Queensides-3z7Ey.ttf)
    format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Queensides";
  src: url(/assets/fonts/queensides-font/QueensidesLight-ZVj3l.ttf)
    format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Queensides";
  src: url(/assets/fonts/queensides-font/QueensidesMedium-x30zV.ttf)
    format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Kalnia VF";
  src: url(/assets/fonts/Kalnia-VariableFont.ttf) format("truetype");
  font-weight: 1 1000;
}
@font-face {
  font-family: "Newsreader";
  src: url(/assets/fonts/Newsreader-Variable.ttf) format("truetype");
  font-weight: 1 1000;
}
@font-face {
  font-family: "Syne";
  src: url(/assets/fonts/Syne-VariableFont.ttf) format("truetype");
  font-weight: 1 1000;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/color-pallete-generator/assets/fonts/Bodoni_Moda/BodoniModa-VariableFont_opszwght.ttf")
    format("truetype");
  font-weight: 400 900;
  font-optical-sizing: 1 90;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: "Hepta Slab";
  src: url("/color-pallete-generator/assets/fonts/Hepta_Slab/HeptaSlab-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 1 900;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: "Honk";
  src: url("/color-pallete-generator/assets/fonts/Honk/Honk-Regular-Variable_MORFSHLN.ttf")
    format("truetype");
  font-weight: 1 900;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: "Prompt";
  src: url("/color-pallete-generator/assets/fonts/Prompt/Prompt-Light.ttf")
    format("truetype");
  font-weight: 300;
  fallback: sans-serif;
}
@font-face {
  font-family: "Prompt";
  src: url("/color-pallete-generator/assets/fonts/Prompt/Prompt-Medium.ttf")
    format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Prompt";
  src: url("/color-pallete-generator/assets/fonts/Prompt/Prompt-Bold.ttf")
    format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Prompt";
  src: url("/color-pallete-generator/assets/fonts/Prompt/Prompt-Black.ttf")
    format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Spectral";
  src: url("/color-pallete-generator/assets/fonts/Spectral/Spectral-Light.ttf")
    format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Spectral";
  src: url("/color-pallete-generator/assets/fonts/Spectral/Spectral-Medium.ttf")
    format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Spectral";
  src: url("/color-pallete-generator/assets/fonts/Spectral/Spectral-Bold.ttf")
    format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Spectral";
  src: url("/color-pallete-generator/assets/fonts/Spectral/Spectral-ExtraBold.ttf")
    format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Rivanna";
  src: url("/color-pallete-generator/assets/fonts/RIVANNA_.TTF")
    format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Rosetta";
  src: url("/color-pallete-generator/assets/fonts/Rosseta.ttf")
    format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Silence";
  src: url("/color-pallete-generator/assets/fonts/Silence.ttf")
    format("truetype");
  font-variant: normal;
}
@font-face {
  font-family: "SilenceGradient";
  src: url("/color-pallete-generator/assets/fonts/SilenceGradient.ttf")
    format("truetype");
  font-variant: gradient;
}
@font-face {
  font-family: "SilenceFilled";
  src: url("/color-pallete-generator/assets/fonts/SilenceFilled.ttf")
    format("truetype");
  font-variant: filled;
}
@font-face {
  font-family: "Nexa";
  src: url("/color-pallete-generator/assets/fonts/Nexa-ExtraLight.ttf")
    format("truetype");
}
@font-face {
  font-family: "20db";
  src: url("/color-pallete-generator/assets/fonts/20db.otf") format("opentype");
}
@font-face {
  font-family: "Berbel Serif";
  src: url("/color-pallete-generator/assets/fonts/berbel-serif.ttf")
    format("truetype");
}
@font-face {
  font-family: "Clemente";
  src: url("/color-pallete-generator/assets/fonts/ClementePD-Hairline.ttf")
    format("truetype");
}
@font-face {
  font-family: "Copasetic";
  src: url("/color-pallete-generator/assets/fonts/COPASETI.TTF")
    format("truetype");
}
@font-face {
  font-family: "Euro";
  src: url("/color-pallete-generator/assets/fonts/eurof35.ttf")
    format("truetype");
}
@font-face {
  font-family: "Flode Neude";
  src: url("/color-pallete-generator/assets/fonts/LTFlodeNeue-Light.otf")
    format("opentype");
}
@font-face {
  font-family: "Migha";
  src: url("/color-pallete-generator/assets/fonts/Migha-Black.otf")
    format("opentype");
  font-weight: black;
}
@font-face {
  font-family: "Migha";
  src: url("/color-pallete-generator/assets/fonts/Migha-BlackExpanded.otf")
    format("truetype");
  font-style: expanded;
}
@font-face {
  font-family: "Quote";
  src: url("/color-pallete-generator/assets/fonts/quota\ bold.otf")
    format("opentype");
}
@font-face {
  font-family: "Chemy Retro";
  src: url("/color-pallete-generator/assets/fonts/")
    format("opentype");
}